form {
    /* 居中表单 */
    margin: 0 auto;
    width:25vw;
    /* 显示表单的轮廓 */
    padding: 1em;
    border:3px solid #1E2A8B;
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* 确保所有label大小相同并正确对齐 */
    display: inline-block;
    width: 5vw;
    text-align: center;
    height: 2vw;
    font-size: 1vw;
  }
  
  input, textarea,select {
    /* 确保所有文本输入框字体相同
       textarea默认是等宽字体 */
    font: 1vw sans-serif;
  
    /* 使所有文本输入框大小相同 */
    width: 15vw;
    box-sizing: border-box;
  
    /* 调整文本输入框的边框样式 */
    border: 3px solid #1E2A8B;
  }
  
  input:focus, textarea:focus {
    /* 给激活的元素一点高亮效果 */
    border-color: #DA9C23;
  }
  button[type="submit"]:hover {
    background-color: #DA9C23;
  }
  textarea {
    /* 使多行文本输入框和它们的label正确对齐 */
    vertical-align:top;
  
    /* 给文本留下足够的空间 */
    height: 5em;
  }
  
  .button {
    /* 把按钮放到和文本输入框一样的位置 */
    padding-left: 10vw; /* 和label的大小一样 */
  }
  
  button {
    /* 这个外边距的大小与label和文本输入框之间的间距差不多 */
    margin-left: .5em;
    background-color:whitesmoke;
    border-radius: 10px;
    border-color : #1E2A8B ;
  }
  h2 {
    text-align: center;
  }