
  html {
    background-color: #ffffff;
  }
  
  body {
    width: 90%;
    min-width: 600px;
    margin: 0 auto;
    padding-top: 5px;
  }
  
  iframe {
    width: 54vw;
    height: 32.4vw;
    min-width: 360px;
    min-height: 218px;
  }

  header {
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
  }
  
  nav {
    background-color: #1E2A8B;
    padding: 1%;
    height: 4vw;
    flex: 100%;
    display: flex;
    align-items: center;
  
  }
  main  {
    border: 7px solid #DA9C23;
    background-color: rgb(255, 255, 255);
    font-size: 0.7vw;
  }

  nav ul {
    list-style-type: none;
    flex: 2;
    display: flex;
    color: #DA9C23;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav div {
    display: inline-block;
    font-size: 2vw;
    height: 3vw;
    color: #DA9C23;
    text-decoration: none;
  }

  footer {
    margin-top: 10px;
    font-size: 1vw;
  }
  img {
    position: left center;
  }
  iframe {
    position: right center;
  }