
nav {
    height: 3.5vw;
    flex: 100%;
    display: flex;
    border-bottom:2px solid #DA9C23;
    padding-bottom: 10px;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    flex: 2;
    display: flex;
    color: #DA9C23;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav div {
    display: inline-block;
    text-decoration: none;
    color: #1E2A8B;
    font-size: 1.5vw;
  }
  footer {
    margin-top: 20px;
    font-size: 1vw;
  }

